# Python
*.pyc
*.pyo
__pycache__/

# macOS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-*

# Node
node_modules/

# ENV
.env
.env.*
!.env.example

# Build output
dist/
release/
*.ipk
*.bak
*.log

# Dependencies
venv/
.venv/

# Temporary
/tmp/
*.swp
*.swo
*~
